{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card p-4">
                    <h2 class="form-title">Update Profile</h2>

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% for field in form %}
                        <div>
                            <label>{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <p class="error-message">{{ field.errors.0 }}</p>
                            {% endif %}
                        </div>
                        {% endfor %}

                        <button type="submit" class="submit-btn">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}